{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}" />
        <style type="text/css">
            /*https://css-tricks.com/snippets/css/style-placeholder-text/*/
            ::-webkit-input-placeholder {
               color: red;
            }
            
            :-moz-placeholder { /* Firefox 18- */
               color: red;  
            }
            
            ::-moz-placeholder {  /* Firefox 19+ */
               color: red;  
            }
            
            :-ms-input-placeholder {  
               color: red;  
            }
        </style>
    </head>
    <body>
        <!--http://www.html.am/html-codes/scrollboxes/scrollbox-border.cfm-->
        
        <table style="width:500px;overflow:scroll;padding:5px;border:6px double #DEBB07;">
            {% for history in History.obj.all reversed %}
            <tr>
                <td style="color:hsl(240,100%,50%);">{{ history.text }}</td> <td>{{ history.userId }}</td> <td>{{ history.updateDate|date:'Y-m-d H:i:s' }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <form method="post" action="{% url 'game:form' %}">
            {% csrf_token %}
            <input type="text" name="answer"
        
        {% if History.errWord %}
            placeholder="{{ History.errWord }} , {{ History.errType }}")
        {% endif %}
             autofocus />
             
            <input type="submit" name="Submit"/>
        </form>
        
        <h2><a href="{% url 'game:index' %}">Go To Main Page</a></h2>
    </body>
</html>
